<h1>User</h1>

Admin? <%= @user.admin %> <br>
Name: <%= @user.name %> <br>
Tickets: <%= @user.tickets %> <br>
Mood: <%= @user.mood %>
Happiness: <%= @user.happiness %> <br>
Nausea: <%= @user.nausea %> <br>
Height: <%= @user.height %> inches <br>
<%= link_to 'See attractions', attractions_path %>