<h1>New Game</h1>

<%= form_for @game do |f| %>
    
<%= f.label :name, 'Name' %>
<%= f.text_field :name %> <br>

<%= f.label :min_height, 'Height Requirement' %>
<%= f.text_field :min_height %> <br>

<%= f.label :happiness_rating, 'Happiness Rating' %>
<%= f.text_field :happiness_rating %> <br>

<%= f.label :nausea_rating, 'Nausea Rating' %>
<%= f.text_field :nausea_rating %> <br>

<%= f.label :tickets, 'Tickets Requirement' %>
<%= f.text_field :tickets %> <br>

<%= f.submit "Create Game" %>

<% end %>