<h1>Attractions</h1>

<% if current_user.admin %>
    <% @attractions.each do |attraction| %>
        <ul>
            <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
            <li><%= attraction.tickets %></li>
        </ul> <br>
        <%= link_to 'New Attraction', new_attraction_path %>
    <% end %>
<% else %>
    <% @attractions.each do |attraction| %>
        <ul>
            <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
            <li><%= attraction.tickets %></li>
        </ul>
    <% end %>
<% end %>