<h1>Attraction</h1>

Attraction <%= @attraction.name %> <br>
Height Requirement: <%= @attraction.min_height %>
Happiness Rating: <%= @attraction.happiness_rating %> <br>
Nausea Rating: <%= @attraction.nausea_rating %> <br>
Ticket Requirement: <%= @attraction.tickets %> <br>

<% if current_user.admin %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction), method: :get %>
<% else %>
    <%= form_for @ride do |f| %>
        <%= f.hidden_field :user_id %><br />
        <%= f.hidden_field :attraction_id %><br />
        <%= f.submit "Go on this ride" %>
    <% end %>
<% end %>